/* ******************************
Website Information
*******************************

Website Stylesheet 
version:   1.0 
date:      01/03/07 
author:    [your email] 
email:     [you at domain dot com] 
website:   [your domain] 
version history: [location of file]

******************************* */


// Preloader
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 99;
    /* makes sure it stays on top */
    }
      
    #status {
    width: 250px;
    height: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    }
    
@font-face {
    font-family: nexa;
    src: url(../webfont/NexaBold.otf);
    font-weight: 700;
}
// @font-face {
//     font-family: nexa;
//     src: url(../webfont/NexaText-Light.eot);
//     font-weight: 300;
// }
// @font-face {
//     font-family: nexa;
//     src: url(../webfont/NexaRegular.otf);
//     font-weight: 400;
// }
reset everything
* {
margin: 0;
padding: 0;
border: 0;
}
// prevent iOS font size change
html {
-webkit-text-size-adjust: 100%;
}
reset body line-height
body {
min-height: 100vh;
line-height: 1;
text-rendering: optimizeSpeed;
box-sizing: border-box;
outline: 0;
font-size: 1rem;
}
// all media elements set to block and full width


// inherit fonts for inputs and buttons
input,
button,
textarea,
select {
font: inherit;
line-height: inherit;
color: inherit;
}

// assign button hover state
button{
    border: 0;
    outline: 0;
    background: none;&:focus {
        outline: 0;
        border: 0;
        border: 0;
        outline: 0;
    
    }
}
// reset anchor style
a {
    display:inline-block;
    cursor: pointer;
    color: inherit;
    text-decoration: inherit;
    -webkit-tap-highlight-color: transparent;
}
p{
    margin-bottom: 0;
}
// reset heading style
h1,
h2,
h3,
h4,
h5,
h6 {
font-size: inherit;
font-weight: inherit;
}

// reset list style
ol, ul {
list-style: none;
margin-bottom: 0 !important;
padding-left: 0;
}

// reset text input style
[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea,
select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
width: 100%;
&:focus {
    outline: 0;
}
}

// reset firefox placeholder opacity
::-moz-placeholder {
opacity: 1;
}

// reset textarea style
textarea {
// move the label to the top
vertical-align: top;

// turn off scroll bars in IE unless needed
overflow: auto;
}

// reset checkbox and radio style
[type='checkbox'],
[type='radio'] {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
&:focus {
    outline: 0
}
}

// remove all animations, transitions and smooth scroll for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
html:focus-within {
    scroll-behavior: auto;
}
}